.main-Container {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

.full-Container {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
}

.general-form {
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-radius: 4px;
  }

  .general-form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 15px;
  }

  
  .save-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  